<div style="
    width: 512px ;
    margin-left: 2%;
    margin-top: 3%;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
    padding: 3px;
    float:left;">
  <a (click)="onLinkClick('https://anonymcasino.com/games/playtech/great_blue/')" >
    <img border="0" alt="W3Schools" src="http://localhost/img/greatpreview.jpg">
  </a>
</div>

<div style="
    width: 512px ;
    margin-left: 2%;
    margin-top: 3%;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
    padding: 3px;
    float:left;">
  <a (click)="onLinkClick('https://anonymcasino.com/game_demo/playtech/premium_european_roulette')">
    <img border="0" alt="W3Schools" src="http://localhost/img/roulettefpreview.jpg">
  </a>
</div>

<div style="
    width: 512px ;
    margin-left: 2%;
    margin-top: 3%;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
    padding: 3px;
    float:left;">
  <a (click)="onLinkClick('https://anonymcasino.com/games/playtech/hot_gems')">
    <img border="0" alt="W3Schools" src="http://localhost/img/hotrpreview.jpg">
  </a>
</div>

<div style="
    width: 512px ;
    margin-left: 2%;
    margin-top: 3%;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
    padding: 3px;
    float:left;">
  <a (click)="onLinkClick('https://anonymcasino.com/games/playtech/atlantis_queen')">
    <img border="0" alt="W3Schools" src="http://localhost/img/atlantisrpreview.jpg">
  </a>
</div>

<div style="
    width: 512px ;
    margin-left: 2%;
    margin-top: 3%;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
    padding: 3px;
    float:left;">
  <a (click)="onLinkClick('https://anonymcasino.com/games/playtech/iron_man_3')">
    <img border="0" alt="W3Schools" src="http://localhost/img/iron3rpreview.jpg">
  </a>
</div>

<div style="
    width: 512px ;
    margin-left: 2%;
    margin-top: 3%;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
    padding: 3px;
    float:left;">
  <a (click)="onLinkClick('https://anonymcasino.com/game_demo/playtech/desert_treasure_2')">
    <img border="0" alt="W3Schools" src="http://localhost/img/desertpreview.jpg">
  </a>
</div>

<div style="
    width: 512px ;
    margin-left: 2%;
    margin-top: 3%;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
    padding: 3px;
    float:left;">
  <a (click)="onLinkClick('https://anonymcasino.com/game_demo/playtech/dragon_kingdom')">
    <img border="0" alt="W3Schools" src="http://localhost/img/dragonpreview.jpg">
  </a>
</div>

<div style="
    width: 512px ;
    margin-left: 2%;
    margin-top: 3%;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
    padding: 3px;
    float:left;">
  <a (click)="onLinkClick('https://anonymcasino.com/game_demo/playtech/cat_queen')">
    <img border="0" alt="W3Schools" src="http://localhost/img/catpreview.jpg">
  </a>
</div>

<div style="
    width: 512px ;
    margin-left: 2%;
    margin-top: 3%;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
    padding: 3px;
    float:left;">
  <a (click)="onLinkClick('https://anonymcasino.com/games/playtech/gladiator')">
    <img border="0" alt="W3Schools" src="http://localhost/img/gladiatorpreview.jpg">
  </a>
</div>


